.bg-header{
    background-color:#711A4E;
}

.bg-light1 {
    background-color: #f0f4f5;
}

.bg-light2 {
    background-color:#e9d7d7;
}
.bg-footer{
    background-color: #9b9ea3;
}
.body-bg{
    background-color: #F8F1F1;
}
.navbar{
    color: beige;
}