.bg-header{
    background-color:#711A4E;
}

.bg-light1 {
    background-color: #f0f4f5;
}

.bg-light2 {
    background-color:#e9d7d7;
}
.bg-footer{
    background-color: #9b9ea3;
}
.body-bg{
    background-color: #F8F1F1;
}
.navbar{
    color: beige;
}

.nav-link:hover {
    transform: scale(1.2);
    color: #9e5782;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}