
.form-col {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: left;
    line-height: 2;
    /*height: 500px;*/
    width: 420px;
    border-radius: 7px;
    margin: 60px auto;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: medium;
}

.form-col:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}


.form-title {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgb(113,26,78);
    color: beige;
    border-radius: 7px 7px 0 0;
}

.form-content {
    padding-top: 20px;
    padding-left: 15px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.btn {
    width: 150px;
    padding: 12px;
    background-color: #711A4E;
    color: beige;
    border: 1px solid;
    border-radius: 10px;
    border-color: lightgrey
}

button:hover{
    transform: scale(1.1);
    background-color: #961362;
    color: #9e5782;
}
.nav-link:hover {
    transform: scale(1.2);
    color: #9e5782;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

input[type="checkbox"] {
    accent-color: #961362
}

input[type="text"]:focus {
    border: 1px;
    border-color: #961362;
    outline: 2px ridge #961362;

}